article {
    background:  #0000;
}
header {
  width:100%;
  background-color:#337DFF;
}
.sources {
  border: exist;
  border-width: medium;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}
section.main {
  margin-left: auto;
  margin-right: auto;
}
img {
  float:left;
}
